<body class="bg-light min-vh-100">
    <div class="container bg-light ps-lg-5 pe-5 pt-sm-0 pt-lg-5 mb-5">
    <main class="row mt-sm-0 mt-lg-5 ps-5bg-light pb-5">
        
    <div id="loginMessageContainer" class=" col-sm-12 col-md-8">
        <p class="display-1">
            <br>
        <span class="badge bg-primary display-1">calendar</span>
        </p>
        <br>
        <p class="display-4 fw-bold">
            Calendar pomaga w zarządzaniu i organizacji codziennymi obowiązakmi. Sprawdź sam.
        </p>
        <br>
    </div>
    <div id="loginPanelAppContainer" class="col-sm-12 col-md-4 p-4">
    <app-login-panel>
    
    </app-login-panel>
    </div>
    </main>
    </div>

    </body>
    <footer>
        <app-footer></app-footer>
    </footer>
    